<h2>Titre</h2>
<input id="article_title" type="text" name="entry_title">

<h2>Texte</h2>
<textarea id="article_text" ></textarea>

<h2>Photo</h2>
<div id="button_take_picture" class="button page page_action">Photo</div>
<div id="picture_container"></div>

<h2>Vidéo</h2>
<div id="button_take_video" class="button page page_action">Vidéo</div>
<div id="video_container"></div>
<!-- <video id="video" src="" controls></video> -->

<h2>Géolocalisation</h2>
<div id="button_get_geolocation" class="button page page_action">Géolocalisation</div>
<div id="geolocation_container"></div>

<ul id="page_menu">
    <li id="button_validate_article" class="button page_action">Valider</li>
</ul>