body,html {
	padding-bottom: 50px;
	margin: 0;
	font-family: Arial, sans-serif;
}

#main_menu {
	position: fixed;
	background-color: #4db6ac;
	padding-top: 5px;
	width: 100%;
}

#collapsable_menu {
	background-color: #80cbc4;
	display: none;
	padding:10px;
	margin:0px;
}

#menu_header {
	height: 50px;
}

.button_menu {
	float: left;
	left: 50px;
	width: 40px;
	height: 40px;
	background-image: url('../img/menu.svg');
	background-size: 40px;
    background-repeat: no-repeat;
}

#menu_header {
	padding: 0 10px;

}

#menu_header > h1 {
	margin: 0;
	float: right;
	color: white;

	line-height: 50px;
}

#collapsable_menu li {
	list-style-type: none;
	display: inline-block;
	width: 300px;
	color: white;
	font-family: sans-serif;
	font-size: 1.5em;
	line-height: 50px;
	margin-right: 50px;
}

h2 {
	margin-left: 5%;
}

input[type="text"], textarea {
	display: block;
	width: 90%;
	margin: 0 auto 50px auto;
}

textarea {
	height: 300px;
}
