#page_menu .button, .page.button {
	list-style-type: none;
	background-color: #4db6ac;
	width: 200px;
	height: 40px;
	color: white;
	font-family: sans-serif;
	font-size: 1.5em;
	line-height: 40px;
	border-radius: 5px;
	text-align: center;

}

#page_menu .button {
	margin: 5px auto;
}

.page.button {
	margin-left: 10%;
}

#page_menu {
	padding: 0;
}