#main.timeline {

	white-space: nowrap;
	overflow-x: auto;

	width: 100%;
	padding-top: 150px;

	/*direction: rtl;*/

}

#main.timeline img {
	display: block;
	text-align: center;
	height: auto;
	width: 250px;
	margin: 10px auto;
}

#main.timeline p, #main.timeline h3{
	white-space: pre-wrap;
}

.timeline_entry {
	/*direction: ltr;*/
	display: inline-block;
	width: 250px;
	margin-right: 50px;
	margin-top: 50px;
	vertical-align: top;

	border: 1px solid gray;
	border-radius: 5px;

	padding-right: 10px;
	padding-left: 10px;
}

img {
	width: 300px;
	height: auto;
}